//- Все примеси в этом файле должны начинаться c имени блока (meal)

mixin meal(data, mods)

  //- Принимает:
  //-   data    {object} - данные
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +meal('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' meal--' + modsList[i].trim();
      }
    }

  .meal(class=allMods)&attributes(attributes)
    block
  ///.meal
