-
  let currentUrl = ''
  let currentTitle = 'Foods'
  let currentDescription = ' '
  let lang = 'en'
  let Bootstrap4 = false
  let FontAwesome = true
  let jQuery = false
  let GoogleFonts = 'Nunito'
  let fontWeight = '200;300;400;600;700;800;900'
  let screenSm = '0'
  let screenMd = '660px'
  let screenLg = '960px'
