extends ../pug/layout.pug

append config
  -
    currentTitle = 'Foods'
    currentDescription = 'Foods page'
    currentUrl = 'index.html'

block content
  +hero()
    +section-heading()
      | Variety of Foods

    .hero__icons
      i.fas.fa-egg.change
      i.fas.fa-stroopwafel
      i.fas.fa-cheese
      i.fas.fa-hotdog
      i.fas.fa-drumstick-bite
      i.fas.fa-apple-alt
      i.fas.fa-ice-cream
      i.fas.fa-fish
      i.fas.fa-cookie
      i.fas.fa-seedling

  +popular-meals()
    +section-heading()
      | popular meals

    .meals-container
      +meal()
        +picture({
          'img': 'meal-01',
          'alt': 'Fish',
          'lg': false,
          'md': true,
          'ext': 'png'
        })(class='meal__img')
        h3.meal__name Fish
        button.meal__button Order now
      +meal()
        +picture({
          'img': 'meal-02',
          'alt': 'Cake',
          'lg': false,
          'md': true,
          'ext': 'png'
        })(class='meal__img')
        h3.meal__name Cake
        button.meal__button Order now
      +meal()
        +picture({
          'img': 'meal-03',
          'alt': 'Lobster',
          'lg': false,
          'md': true,
          'ext': 'png'
        })(class='meal__img')
        h3.meal__name Lobster
        button.meal__button Order now
