extends ../pug/layout.pug

append config
  -
    currentTitle = 'Foods'
    currentDescription = 'Foods page'
    currentUrl = 'index.html'

block header
  nav.navbar.target
    a.navbar__link(href='#')
      i.fas.fa-home
      span Home
    a.navbar__link(href='#')
      i.fas.fa-utensils
      span Meals
    a.navbar__link(href='#')
      i.fas.fa-hamburger
      span Burger
    a.navbar__link(href='#')
      i.fas.fa-pizza-slice
      span Pizza
    a.navbar__link(href='#')
      i.fas.fa-blender-phone
      span Contact

  ///.navbar

  i.menu.target

block content
  +hero()
    +section-heading()
      | Variety of Foods

    .hero__icons
      i.fas.fa-egg.change
      i.fas.fa-stroopwafel
      i.fas.fa-cheese
      i.fas.fa-hotdog
      i.fas.fa-drumstick-bite
      i.fas.fa-apple-alt
      i.fas.fa-ice-cream
      i.fas.fa-fish
      i.fas.fa-cookie
      i.fas.fa-seedling
  ///.hero

  +popular-meals()
    +section-heading()
      | popular meals

    .meals-container
      +meal()
        +picture({
          'img': 'meal-01',
          'alt': 'Fish',
          'lg': false,
          'md': true,
          'ext': 'png'
        })(class='meal__img')
        h3.meal__name Fish
        button.meal__button Order now
      +meal()
        +picture({
          'img': 'meal-02',
          'alt': 'Cake',
          'lg': false,
          'md': true,
          'ext': 'png'
        })(class='meal__img')
        h3.meal__name Cake
        button.meal__button Order now
      +meal()
        +picture({
          'img': 'meal-03',
          'alt': 'Lobster',
          'lg': false,
          'md': true,
          'ext': 'png'
        })(class='meal__img')
        h3.meal__name Lobster
        button.meal__button Order now
  ///.popular-meals

  section.gallery
    +section-heading()
      | gallery

    .gallery__container
      a.gallery__link(title='Order Now' href='#')
        +picture({
          'img': 'gallery-01',
          'alt': 'Pancakes',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        })(class='gallery__img')
        h3.gallery__name Pancakes
        p.gallery__description.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt hic quae quisquam repudiandae dignissimos ad.

      a.gallery__link(title='Order Now' href='#')
        +picture({
          'img': 'gallery-02',
          'alt': 'Cupcakes',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        })(class='gallery__img')
        h3.gallery__name Cupcakes
        p.gallery__description.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt hic quae quisquam repudiandae dignissimos ad.

      a.gallery__link(title='Order Now' href='#')
        +picture({
          'img': 'gallery-03',
          'alt': 'Hummus',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        })(class='gallery__img')
        h3.gallery__name Hummus
        p.gallery__description.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt hic quae quisquam repudiandae dignissimos ad.

      a.gallery__link(title='Order Now' href='#')
        +picture({
          'img': 'gallery-04',
          'alt': 'Hamburger',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        })(class='gallery__img')
        h3.gallery__name Hamburger
        p.gallery__description.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt hic quae quisquam repudiandae dignissimos ad.

      a.gallery__link(title='Order Now' href='#')
        +picture({
          'img': 'gallery-05',
          'alt': 'Salmon',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        })(class='gallery__img')
        h3.gallery__name Salmon
        p.gallery__description.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt hic quae quisquam repudiandae dignissimos ad.

      a.gallery__link(title='Order Now' href='#')
        +picture({
          'img': 'gallery-06',
          'alt': 'Vegetables',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        })(class='gallery__img')
        h3.gallery__name Vegetables
        p.gallery__description.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt hic quae quisquam repudiandae dignissimos ad.
  ///.gallery

block footer
  +page-footer()
    .page-footer__text
      h2.page-footer__heading Sign Me Up
      p.page-footer__paragraph Be the first to know about new products
    ///.page-footer__text

    form.page-footer__form(action='')
      input.page-footer__input(type='email' placeholder='Enter Your Email' name='email')
      button.page-footer__btn(type='submit')
        i.fas.fa-arrow-right
    ///.page-footer__form

    p.page-footer__copyright CodeAndCreate &copy; All rights reserved
